user-interface,
.user-interface {
  display: flex;
  width: 100%;
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}
.menu {
  width: 25%;
  max-width: 25%;
  display: block;
  align-self: stretch;
  min-width: 25%;
  max-width: 25%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 100vh;
  overflow: auto;
  object-fit: cover;
}
.menu-itens {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
  min-width: 75%;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: auto;
}
mods-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: gray;
  opacity: 0.8;
}

.mod {
  width: 50%;
  height: 75px;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.mod .checkbox {
  width: auto;
  min-width: 0%;
}
#mods-enabled {
  color: orange;
  font-size: 25px;
}

painel {
  width: 100%;
  min-width: 75%;
  min-height: 100vh;
  display: flex;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.painel-selecionado {
  display: flex;
}
.select {
  background-color: #5eb663;
}
.output-info {
  white-space: break-spaces;
}

.menu-itens .painel-selecionado .mundos {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: normal;
  flex-direction: column;
  width: 100%;
}

.painel-selecionado .mundos .links-action{
 margin:10px;
}

.menu-itens .painel-selecionado .mundos #saves {
  width: 75%;
  border-radius: 25px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 10px;
}

.menu-itens .painel-selecionado .mundo-versoes {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: normal;
  flex-direction: column;
  width: 100%;
}

.menu-itens .mundo-versoes #versions {
  width: 75%;
  border-radius: 25px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 10px;
}

footer {
  margin-top: 0;
}
